<%= form_for :contact do |f| %>
  <div class="form-group col-md-12">
    <%= f.text_field :first_name, placeholder: t(".first_name"),
      class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= f.text_field :last_name, placeholder: t(".last_name"),
      class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= f.email_field :email, placeholder: t(".your_email"),
      class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= f.text_field :subject, placeholder: t(".subject"),
      class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= f.text_area :message, placeholder: t(".write_message"),
      class: "form-control" %>
  </div>

  <div class="form-group col-md-12">
    <%= f.submit t(".send"), class: "btn btn-default submit_btn" %>
  </div>
<% end %>
