<div class="col-md-6 break snacks">
  <div class="media">
    <div class="media-left">
      <%= show_image dish %>
    </div>
    <div class="media-body">
      <%= link_to dish do %>
        <h3><%= dish.name %></h3>
      <% end %>
      <h4><%= currency_format dish.price %></h4>
      <a class="read_mor_btn" href="#"><%= t "order" %></a>
      <a class="read_mor_btn" href="#"><%= t "detail" %></a>
      <ul>
        <li><a href="#"><i class="fa fa-star"></i></a></li>
        <li><a href="#"><i class="fa fa-star"></i></a></li>
        <li><a href="#"><i class="fa fa-star"></i></a></li>
        <li><a href="#"><i class="fa fa-star"></i></a></li>
        <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
      </ul>
    </div>
  </div>
</div>
